JUNK-*
*.code-workspace
**/.claude/sessions
**/.claude/issues
.claude/settings.local.json
tests/kafka-security-poc/kafka-security-poc-discussion.md
tests/kafka-security-poc/kafka-security-poc-idea.txt
tests/kafka-security-poc/kafka-security-poc-plan.md
tests/kafka-security-poc/kafka-security-poc-sessionID.txt
tests/kafka-security-poc/kafka-security-poc-spec.md
repomix-output.xml
*-sessionID.txt
__pycache__
debug.log
