JUNK-*
*.code-workspace
**/.hitl
.claude/sessions
.claude/issues
.claude/settings.local.json
test-ideas/kafka-security-poc/kafka-security-poc-discussion.md
test-ideas/kafka-security-poc/kafka-security-poc-idea.txt
test-ideas/kafka-security-poc/kafka-security-poc-plan.md
test-ideas/kafka-security-poc/kafka-security-poc-sessionID.txt
test-ideas/kafka-security-poc/kafka-security-poc-spec.md
repomix-output.xml
*-sessionID.txt
__pycache__
debug.log
.idea

